.wrap {
  width: 100%;
  min-height: 92vh;
  display: grid;
  place-items: center;
  background-color: rgb(219, 219, 219);
}

.form {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  width: 50%;
  height: 50%;
  background-color: #5e5d5d;
}

label {
  display: block;
  text-align: center;
  color: #c9c8c8;
  margin-top: 10px;

  label:first-child {
    margin-top: 0px;
  }
}

.input_container input {
  margin-top: 10px;
  width: 250px;
  height: 20px;
}

.but {
  display: grid;
  grid-template-columns: 1fr;
  width: 30%;
  height: 50px;

  button {
    background-color: #000000;
    color: rgb(255, 255, 255);
    border: none;
  }

  button:disabled,
  button[disabled] {
    background-color: #8a8a8a;
  }
}

.validActive {
  color: green;
}

.validUnactive {
  color: red;
}
