.container {
  margin: 5px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  gap: 5px 5px;
}

.userNavBar {
  height: 50px;

  button {
    height: 100%;
    width: 100px;
    margin-right: 5px;
    background-color: #414141;
    border: none;
    color: white;
    text-decoration: none;
    cursor: pointer;
  }
}
