$bg: #3f3f3f98;
$link-color: #aeaeae;
$bg-btn: #414141;
$btn-hover: #868686;
$btn-color: #ffffff;

.container {
  min-height: 8vh;
  width: 100%;
  background-color: $bg;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto;
  gap: 50px;
  grid-auto-flow: row;
  grid-template-areas: "logo user";
}

.logo {
  margin-left: 10%;
  grid-area: logo;
  width: 100%;
  height: auto;

  svg {
    width: 200px;
    height: auto;
  }

  a {
    text-decoration: none;
    color: $link-color;
    font-size: 1.5em;
  }
}

Link {
  text-decoration: none;
}

.wrap {
  display: grid;
  place-items: center;
}

.user {
  grid-area: user;
  font-size: 22px;

  li {
    display: inline-block;
  }

  a {
    text-decoration: none;
    display: inline-block;
    margin: 0 15px;
    padding: 0 30px;
    color: $link-color;
    transition: 0.3s linear;
    position: relative;
  }

  a.current,
  a:hover {
    color: #000000;
  }
}

.loginWrap {
  border: none;
  background-color: transparent;

  svg path {
    fill: $link-color;
    transition: fill ease-in-out 0.25s;
  }

  &:hover svg path {
    fill: #000000;
  }
}

.bagWrap {
  border: none;

  svg path {
    fill: $link-color;
    transition: fill ease-in-out 0.25s;
  }

  &:hover svg path {
    fill: #000000;
  }
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdownContent {
  font-size: 18px;
  display: none;
  position: absolute;
  background-color: #3c3c3c;
  z-index: 1;
  box-shadow: 0px 5px 25px 0px rgb(0, 0, 0);
  color: white;
}

.dropdown:hover .dropdownContent {
  display: block;
}

.form_header {
  display: grid;
  place-items: center;
}

.form_container {
  background-color: #5e5d5d;
  width: 250px;
  height: auto;
  color: #c9c8c8;
  display: grid;
  place-items: center;
  margin: 5px;
  grid-template-columns: 1fr;
}

.validActive {
  color: green;
}

.validUnactive {
  color: red;
}

.but {
  margin: 5px;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr;

  button {
    background-color: $bg-btn;
    color: $btn-color;
    border: none;
    width: 100px;
    height: 40px;
  }

  button:hover {
    background-color: $btn-hover;
  }
}

@media only screen and (max-width: 850px) {
  .container {
    gap: 0px;
    grid-template-columns: 0.5fr auto;
  }
}

@media only screen and (max-width: 705px) {
  .container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 50px;
  }

  .dropdownContent {
    left: -150px;
  }
}
