@import url("https://fonts.googleapis.com/css?family=PT+Sans+Caption");

.wrap {
    /* position: absolute; */
    width: 100%;
}

.container {
  background-color: #3f3f3f98;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 0.3fr 1fr;
  grid-template-rows: auto;
  gap: 50px 50px;
  grid-auto-flow: row;
  grid-template-areas: "menu logo user";
}

.menu {
  grid-area: menu;
  list-style: none;
  padding: 0 30px;
  margin: 0;
  font-size: 18px;
  text-align: center;
  position: relative;
}

.menu li {
  display: inline-block;
}
.menu a {
  text-decoration: none;
  display: inline-block;
  margin: 0 15px;
  padding: 10px 30px;
  font-family: "PT Sans Caption", sans-serif;
  color: #aeaeae;
  transition: 0.3s linear;
  position: relative;
}

.menu a.current,
.menu a:hover {
  color: #000000;
}

.logo {
  grid-area: logo;
}


.logo a {
  text-decoration: none;
  color: #aeaeae;
  font-size: 1.5em;
}

Link {
  text-decoration: none;
}

.logo img {
  width: 150px;
  height: 70px;
}

.user {
  grid-area: user;
  list-style: none;
  padding: 0 30px;
  margin: 0;
  font-size: 18px;
  text-align: center;
  position: relative;
}

.user li {
  display: inline-block;
}
.user a {
  text-decoration: none;
  display: inline-block;
  margin: 0 15px;
  padding: 10px 30px;
  font-family: "PT Sans Caption", sans-serif;
  color: #aeaeae;
  transition: 0.3s linear;
  position: relative;
}

.user a.current,
.user a:hover {
  color: #000000;
}

.loginWrap svg path {
  fill: #aeaeae;
  transition: fill ease-in-out 0.25s;
}

.loginWrap:hover svg path {
  fill: #000000;
}

.bagWrap svg path {
  fill: #aeaeae;
  transition: fill ease-in-out 0.25s;
}

.bagWrap:hover svg path {
  fill: #000000;
}


.dropdown {
  position: relative;
  display: inline-block;
}

.dropdownContent {
  display: none;
  position: absolute;
  background-color: #3c3c3c;
  min-width: 200px;
  z-index: 1;
  box-shadow: 0px 5px 25px 0px rgb(0, 0, 0);
  color: white;
}

.dropdown:hover .dropdownContent {display: block;}

.form_container {
  background-color: #5e5d5d;
  width: 250px;
  height: auto;
  color: #c9c8c8;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr;
}



.but {
  margin-top: 5px;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  background-color: #5e5d5d;

}


.but button {
  background-color: #000000;
  color: rgb(255, 255, 255);
  border: none;
  width: 100%;
  height: 25px;
}
