//обнуление

a:active, /* активная/посещенная ссылка */
a:hover,  /* при наведении */
a {
  text-decoration: none;
}


.wrap {
  display: grid;
  place-items: center;

  ul.wrap {
    list-style: none;
    color: #c4c4c4;
  }

  li {
    border-right: 1px solid #020202;
    padding: 10px;
    display: inline;
  }

  li:last-child {
    border-right: none;
  }

  li a {
    font-size: 15px;
    color: rgb(104, 104, 104);
  }

  li a:hover,
  li :active {
    color: rgb(0, 0, 0);
  }
}
